o3p/dat/
o3p/log/
o3p/share/
o3p/v0.4.1/
o3p/v0.4.2/
o3p/v0.4.3_*
o3p/v0.4.3.0/

o3p/v0.4.3/bin/
o3p/v0.4.3/make/
o3p/v0.4.3/msg/
o3p/v0.4.3/obj/
o3p/v0.4.3/run/conf/GEMS_O3P.pcf
o3p/v0.4.3/run/conf/INP/SOMIPROF.inp.org
o3p/v0.4.3/run/conf/INP/idl.ps
o3p/v0.4.3/run/conf/INP/ozprof.inp~
o3p/v0.4.3/run/conf/INP/read_xwcorr.pro
o3p/v0.4.3/run/conf/INP/temp.pro
o3p/v0.4.3/run/conf/SOMIPROF.pcf
o3p/v0.4.3/run/run_base.sh
o3p/v0.4.3/src/check_diff.sh
o3p/v0.4.3/src/fort.25
o3p/v0.4.3/src/mod/GEMS_O3P_MOD_Sub4Fitting_process.f90_save
o3p/v0.4.3/src/o3prof/tmp/
o3p/v0.4.3/src/o3prof_lidort_error
o3p/v0.4.3/src/omi-pge/
o3p/v0.4.3/src/run.sh
o3p/v0.4.3/src/run_gems_bu.sh
o3p/v0.4.3/src/run_list.sh
o3p/v0.4.3/src/runlist.list
o3p/v0.4.3/tmp/
o3p/v0.4.3/src/geun/
o3p/v0.4.3/src/hslog/
o3p/v0.4.3/src/run_gems_geun.sh
o3p/v0.4.3/src/run_gems_list.sh
o3p/v0.4.3/src/run_geun.sh
o3p/v0.4.3/src/runlist_coltest.listbu

share/
*.list
*.swp
*.tmp
*.inp
*.cfg
*.conf
*burun
*fort.91
*fort.999
*.bu
*.modcld
*.org
*.um
*.um2
*src.all*
*tmp.test*
