#
# filename:
# 	OMBRO.pcf
#
# description:
#   	Process Control File (PCF)
#
# notes:
#
# 	This file supports the Release B version of the toolkit.
#       It is intended for use with toolkit version "SCF  TK5.2.8.3".
#
#       The logical IDs 10000-10999 (inclusive) are reserved for internal
#       Toolkit/ECS usage, DO NOT add logical IDs with these values.
#
# 	Please treat this file as a master template and make copies of it
# 	for your own testing. Note that the Toolkit installation script
#  	sets PGS_PC_INFO_FILE to point to this master file by default.
#       Remember to reset the environment variable PGS_PC_INFO_FILE to 
#       point to the instance of your PCF.
#
#       The toolkit will not interpret environment variables specified
#       in this file (e.g. ~/database/$OSTYPE/TD is not a valid reference).
#       The '~' character, however, when appearing in a reference WILL be
#       replaced with the value of the environment variable PGSHOME.
#
#       The PCF file delivered with the toolkit should be taken as a
#       template.  User entries should be added as necessary to this
#       template.  Existing entries may (in some cases should) be altered
#       but generally should not be commented out or deleted.  A few
#       entries may not be needed by all users and can in some cases
#       be commented out or deleted.  Such entries should be clearly
#       identified in the comment(s) preceding the entry/entries.
#
#       Entries preceded by the comment: (DO NOT REMOVE THIS ENTRY)
#       are deemed especially critical and should not be removed for
#       any reason (although the values of the various fields of such an
#       entry may be configurable).
#
# -----------------------------------------------------------------------
?   SYSTEM RUNTIME PARAMETERS
# -----------------------------------------------------------------------
#########################################################################
#
# This section contains unique identifiers used to track instances of
# a PGE run, versions of science software, etc.  This section must
# contain exactly two entries.  These values will be inserted by
# ECS just before a PGE is executed.  At the SCF the values may be set
# to anything but these values are not normally user definable and user
# values will be ignored/overwritten at the DAAC.
#
#########################################################################
#
# Production Run ID - unique production instance identifier
# (DO NOT REMOVE THIS ENTRY)
# -----------------------------------------------------------------------
1
# -----------------------------------------------------------------------
# Software ID - unique software configuration identifier
# (DO NOT REMOVE THIS ENTRY)
# -----------------------------------------------------------------------
1
#
?   PRODUCT INPUT FILES
#########################################################################
#
# This section is intended for standard product inputs, i.e., major
# input files such as Level 0 data files.
#
# Each logical ID may have several file instances, as given by the
# version number in the last field.
#
#########################################################################
#
# Next non-comment line is the default location for PRODUCT INPUT FILES
# WARNING! DO NOT MODIFY THIS LINE unless you have relocated these 
# data set files to the location specified by the new setting.
! ../../dat/out
749000|GOMI-ERS2_L1-OML1BRUG_20010707150-o32487.he4||||GOMI-ERS2_L1-OML1BRUG_20010707150-o32487.he4|1
749001|GOMI-ERS2_L1-OML1BIRR_20010707150-o32487.he4||||GOMI-ERS2_L1-OML1BIRR_20010707150-o32487.he4|1
749003|GOME-1998-oct-03-031_ch2.el1|||||1
#
#
# -----------------------------------------------------------------------
# The following are for the PGS_GCT tool only.  The IDs are #defined in
# the PGS_GCT.h file.  These entries are essential for the State Plane
# Projection but can otherwise be deleted or commented out.
# -----------------------------------------------------------------------
10200|nad27sp|~/database/common/GCT||||1
10201|nad83sp|~/database/common/GCT||||1
#
# -----------------------------------------------------------------------
# file for Constant & Unit Conversion (CUC) tools
# IMPORTANT NOTE: THIS FILE WILL BE SUPPLIED AFTER TK4 DELIVERY!
# -----------------------------------------------------------------------
10999|PGS_CUC_maths_parameters|~/database/common/CUC||||1
#
#
#------------------------------------------------------------------------
# Metadata Configuration File (MCF) is a template to be filled in by the
# Instrument teams.  MCFWrite.temp is a scratch file used to dump the MCF
# prior to writing to the hdf file. GetAttr.temp is similarly used to
# dump metadata from the hdf attributes and is used by PGS_MET_GetPCAttr.
# (DO NOT REMOVE THESE ENTRIES)
#------------------------------------------------------------------------
10250|MCF|||||1
10252|GetAttr.temp|||||1
10254|MCFWrite.temp|||||1
#
#
# -----------------------------------------------------------------------
# Ephemeris and Attitude files logical IDs.
# Emphemeris files will be accessed via the logical ID 10501.
# Attitude files will be accessed via the logical ID 10502.
# Use file versions to allow for multiple physical ephemeris
# or attitude files.
# -----------------------------------------------------------------------
#
10501|INSERT_EPHEMERIS_FILES_HERE|||||1
10502|INSERT_ATTITUDE_FILES_HERE|||||1
10503|INSERT_EPHEMERIS_HDF_FILES_HERE|||||1
10504|INSERT_ATTITUDE_HDF_FILES_HERE|||||1
#
#------------------------------------------------------------------------
# Datasets for PGS_DEM tools.
# A dataset of a given resolution is accessed via a single logical ID,
# therefore all physical files comprising a data set must be accessed
# via the same logical ID.  Use file versions to allow for multiple
# physical files within a single data set.
# Data files of 30 arc-sec resolution will be accessed via the
# logical ID 10650.
# Data files of 3 arc-sec resolution will be accessed via the
# logical ID 10653.
# NOTE: The file names in each entry must also appear in the attribute
#       column of the entry (this is a requirement of the metadata tools).
#       The entries given below are "template" entries and should be
#       replaced with actual file name/location data before attempting
#       to use the DEM tools.
#------------------------------------------------------------------------
#
10650|DEM30ARC_NAME.hdf|DEM_LOCATION|||DEM30ARC_NAME.hdf|1
10653|DEM3ARC_NAME.hdf|DEM_LOCATION|||DEM3ARC_NAME.hdf|1
#
?   PRODUCT OUTPUT FILES
#########################################################################
#
# This section is intended for standard product outputs, i.e., HDF-EOS
# files generated by this PGE.
#
# Each logical ID may have several file instances, as given by the
# version number in the last field.
#
#########################################################################
#
# Next line is the default location for PRODUCT OUTPUT FILES
! ../../dat/out
711999|OMI-Aura_L2-OMBRO_16116.he5||||OMI-Aura_L2-OMBRO_16116.he5|1
749004|GOME-1998-oct-03-031_ch2.out|||||1
#
#------------------------------------------------------------------------
# This file is created when PGS_MET_Write is used with an intention
# to write an ASCII representation of the MCF in memory. The user is
# allowed to change the name and path if required.
#
# NOTE: THIS IS OBSOLETE, THIS ENTRY IS ONLY HERE FOR BACKWARD
#       COMPATIBILITY WITH PREVIOUS VERSIONS OF THE TOOLKIT.
#       THE LOGICAL ID 10255 SHOULD BE MOVED DOWN TO THE RUNTIME
#       PARAMETERS SECTION OF THIS FILE AND GIVEN A VALUE OF:
#       <logical_id>:<version_number> WHERE THOSE VALUES REFLECT THE
#       ACTUAL VALUES FOR THE NON-HDF OUTPUT PRODUCT FOR WHICH THE
#       ASCII METADATA IS BEING WRITTEN.  e.g.:
#       10255|reference output product|100:2
#
#------------------------------------------------------------------------
10255|asciidump|||||1
# -----------------------------------------------------------------------
#
?   SUPPORT INPUT FILES
#########################################################################
#
# This section is intended for minor input files, e.g., calibration
# files.
#
# Each logical ID may have several file instances, as given by the
# version number in the last field.
#
#########################################################################
#
# Next line is the default location for SUPPORT INPUT FILES
! ../../dat/out
#
# -----------------------------------------------------------------------
#  example MCF input file       
# -----------------------------------------------------------------------
711001|OMBRO.001.MCF|../tbl||||1
# =======================================================================
# tpk> This should be the place to list all the reference spectra. Needs
# tpk> some thought on which spectra can occurr in the fitting. BUT we
# tpk> also need to remember that different PGEs (BrO, OClO, HCHO) have
# tpk> different product numbers. Thus, not all PGEs need to know about
# tpk> all the reference files.
# =======================================================================
711100|OMSAO-O3-BOASfit.cif|../../OMI_SAO_Shared/tbl||||1
711101|OMSAO_KPNO_SolarSpec_GOME-range.dat|../../OMI_SAO_Shared/tbl||||1
711102|OMSAO_Ring_Spectrum.dat|../../OMI_SAO_Shared/tbl||||1
711103|OMSAO_O3_220K_BassPow.dat|../../OMI_SAO_Shared/tbl||||1
711104|OMSAO_O3_240K_BassPow.dat|../../OMI_SAO_Shared/tbl||||1
711105|OMSAO_Zero_Spec.dat|../../OMI_SAO_Shared/tbl||||1
711106|OMSAO_NO2_220K.dat|../../OMI_SAO_Shared/tbl||||1
711107|OMSAO_Zero_Spec.dat|../../OMI_SAO_Shared/tbl||||1
711108|OMSAO_O4_000K.dat|../../OMI_SAO_Shared/tbl||||1
711109|OMSAO_Zero_Spec.dat|../../OMI_SAO_Shared/tbl||||1
711110|OMSAO_BrO_228K.dat|../../OMI_SAO_Shared/tbl||||1
711111|OMSAO_OClO_000K.dat|../../OMI_SAO_Shared/tbl||||1
711112|OMSAO_Zero_Spec.dat|../../OMI_SAO_Shared/tbl||||1
711113|OMBRO_BOAS_Res_BrO_228K.dat|../../OMI_SAO_Shared/tbl||||1
711114|OMSAO_Zero_Spec.dat|../../OMI_SAO_Shared/tbl||||1
711115|OMSAO_Zero_Spec.dat|../../OMI_SAO_Shared/tbl||||1
711116|OMSAO_Zero_Spec.dat|../../OMI_SAO_Shared/tbl||||1
711117|OMSAO_Zero_Spec.dat|../../OMI_SAO_Shared/tbl||||1
711118|OMSAO_Zero_Spec.dat|../../OMI_SAO_Shared/tbl||||1
711119|OMSAO_Zero_Spec.dat|../../OMI_SAO_Shared/tbl||||1
711120|OMSAO_Zero_Spec.dat|../../OMI_SAO_Shared/tbl||||1
711121|OMSAO_BrO-AirMassFactors.dat|../../OMI_SAO_Shared/tbl||||1
#  
# -----------------------------------------------------------------------
# leap seconds (TAI-UTC) file (DO NOT REMOVE THIS ENTRY)
# -----------------------------------------------------------------------
10301|leapsec.dat|~/database/common/TD||||1
#
# -----------------------------------------------------------------------
# polar motion and UTC-UT1 file (DO NOT REMOVE THIS ENTRY)
# -----------------------------------------------------------------------
10401|utcpole.dat|~/database/common/CSC||||1
#
# -----------------------------------------------------------------------
# earth model tags file (DO NOT REMOVE THIS ENTRY)
# -----------------------------------------------------------------------
10402|earthfigure.dat|~/database/common/CSC||||1
#
# -----------------------------------------------------------------------
# JPL planetary ephemeris file (binary form) (DO NOT REMOVE THIS ENTRY)
# -----------------------------------------------------------------------
10601|de200.eos|~/database/linux/CBP||||1
#
# -----------------------------------------------------------------------
# spacecraft tag definition file (DO NOT REMOVE THIS ENTRY)
# -----------------------------------------------------------------------
10801|sc_tags.dat|~/database/common/EPH||||1
#
# -----------------------------------------------------------------------
# units conversion definition file (DO NOT REMOVE THIS ENTRY)
# -----------------------------------------------------------------------
10302|udunits.dat|~/database/common/CUC||||1
#
#
?   SUPPORT OUTPUT FILES 
#########################################################################
#
# This section is intended for minor output files, e.g., log files.
#
# Each logical ID may have several file instances, as given by the
# version number in the last field.
#
#########################################################################
#
# Next line is default location for SUPPORT OUTPUT FILES
! ../../log
#
#
# -----------------------------------------------------------------------
# These files support the SMF log functionality. Each run will cause
# status information to be written to 1 or more of the Log files. To
# simulate DAAC operations, remove the 3 Logfiles between test runs.
# Remember: all executables within a PGE will contribute status data to 
# the same batch of log files. (DO NOT REMOVE THESE ENTRIES)
# -----------------------------------------------------------------------
10100|LogStatus|||||1
10101|LogReport|||||1
10102|LogUser|||||1
10103|TmpStatus|||||1
10104|TmpReport|||||1
10105|TmpUser|||||1
10110|MailFile|||||1
#
# -----------------------------------------------------------------------
# ASCII file which stores pointers to runtime SMF files in lieu of 
# loading them to shared memory, which is a TK5 enhancement.
# (DO NOT REMOVE THIS ENTRY)
# -----------------------------------------------------------------------
10111|ShmMem|||||1
#
#  
?   USER DEFINED RUNTIME PARAMETERS
#########################################################################
#
# This section is intended for parameters used as PGE input.
#
# Note: these parameters may NOT be changed dynamically.
#
#########################################################################
#
200100|SMF Verbosity Threshold|6
200105|PGEVERSION|"0.9.10"
200110|PROCESSINGCENTER|OMIDAPS
200115|PROCESSINGHOST|"Linux omigosh.gsfc.nasa.gov 2.4.18-26.7.xsmp SMP i686"
200120|ASSOCIATEDPLATFORMSHORTNAME|"Aura"
200125|ASSOCIATEDINSTRUMENTSHORTNAME|"OMI"
200130|ASSOCIATEDSENSORSHORTNAME|"CCD Ultra Violet"
200135|REPROCESSINGACTUAL|"processed once"
200140|REPROCESSINGPLANNED|"further update is anticipated"
200170|PROCESSINGLEVEL|"2"
200175|INSTRUMENTNAME|"OMI"
200180|OPERATIONMODE|"Normal"
200200|ORBITNUMBER|32487
200210|SWATHNAME|"OMI Column Amount BrO"
#
# -------------------
# SAO PGE Name
# -------------------
#     OMOCLO: OMOCLO
#     OMBRO:  OMBRO
#     OMHCHO: OMHCHO
# -------------------
# DO NOT DELETE OR MODIFY THE FOLLOWING ENTRY!
# ============================================
700000|PGE Name|OMBRO
#
#
#############################################################################
# Temporary system fields that are required for Metatdata consistency checks.
# During operations these fields will be provided by the scheduler, but until
# then they are hand-edited and included at this point to provide required
# input for the PGE. (t.kurosu, PGE developer)
#############################################################################
10258|GranuleStartTime|23:13:47.466000
10259|GranuleEndTime|00:03:55.466000
#
# -----------------------------------------------------------------------
# These parameters are required to support the PGS_SMF_Send...() tools.
# If the first parameter (TransmitFlag) is disabled, then none of the
# other parameters need to be set. By default, this functionality has been
# disabled. To enable, set TransmitFlag to 1 and supply the other 3 
# parameters with local information. (DO NOT REMOVE THESE ENTRIES)
# -----------------------------------------------------------------------
10109|TransmitFlag; 1=transmit,0=disable|0
10106|RemoteHost|sandcrab
10107|RemotePath|/usr/kwan/test/PC/data
10108|EmailAddresses|kwan@eos.hitc.com
#
# -----------------------------------------------------------------------
# The following runtime parameters define various logging options.
# Parameters described as lists should be space (i.e. ' ') separated.
# The logical IDs 10117, 10118, 10119 listed below are for OPTIONAL
# control of SMF logging.  Any of these logical IDs which is unused by a
# PGE may be safely commented out (e.g. if logging is not disabled for
# any status level, then the line beginning 10117 may be commented out).
# -----------------------------------------------------------------------
10114|Logging Control; 0=disable logging, 1=enable logging|1
10115|Trace Control; 0=no tr
